.score-container {
  display: flex;
  justify-content: space-between;
  color: #434242;
  margin-bottom: 8px;
  .score-title {
    flex: 1;
  }
  .icon {
    color: #dfe0e0;
  }
  .icon.active {
    color: #22a39f;
  }
}
