@import "./unti.less";
body {
  font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
}
img {
  max-width: 100%;
}

.jh-row {
  margin-right: -@spacing-base;
  margin-left: -@spacing-base;
}

@media @pc {
  .jh-container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media @laptop {
  .jh-container {
    width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media @pad {
  .jh-container {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media @mobile {
  .jh-container {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
